/* Colors */
:root {
    --color-default: #212529;
    --color-pri: #009447;
    --color-secondary: #ff0000;
}

#header{
    position: fixed;
    top: 0;
    width: 100%;
    display:flex;
    align-items:center;
    background: #fff;
    transition: all 0.5s;
    z-index: 997;
    height: 90px;
    border-bottom: 1px solid #fff;
}

.header.sticked {
    border-color: #fff;
    border-color: #eee;
  }
  
.header .logo img {
    max-height: 40px;
    margin-right: 6px;
}
  
.header .logo h1 {
    font-size: 28px;
    font-weight: 700;
    color: #000;
    margin: 0;
    font-family: var(--font-secondary);
}
  
.header .logo h1 span {
    color: var(--color-primary);
}
  
.header .btnreservar,
.header .btnreservar:focus {
    font-size: 14px;
    color: #fff;
    background: var(--color-primary);
    border-radius: 50px;
    transition: 0.3s;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
    display: flex;
    align-items: center;
    background-color: #f5ffd0;
    width: 100%;
    background-size: cover;
    position: relative;
    min-height: 60vh;
    padding: 160px 0 60px 0;
}
  
.hero h2 {
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 20px;
    color: var(--color-pri);
    font-family: var(--font-primary);
}
  
.hero h2 span {
    color: var(--color-primary);
}
  
.hero p {
    color: #5a4f4f;
    font-weight: 400;
    margin-bottom: 30px;
}
  
.hero .btnreservar {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px;
    border-radius: 50px;
    transition: 0.5s;
    color: #fff;
    background: var(--color-pri);
    box-shadow: 0 8px 28px rgba(206, 18, 18, 0.2);
}
  
.hero .btnreservar:hover {
    background: rgba(206, 18, 18, 0.8);
    box-shadow: 0 8px 28px rgba(206, 18, 18, 0.45);
}
  
.herocontent{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}
  
.herointro{
    width: 49%;
    order: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heroimg{
    width: 49%;
    text-align: left;
}
.imgh{
    max-width: 100%;
    height: auto;
}

.header .btnreservar:hover,
.header .btnreservar:focus:hover {
    color: #fff;
    background: rgba(206, 18, 18, 0.8);
}

/* Acerca de la página*/

.info{
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}

.imgAbout{
    min-height: 500px;
    position: relative;
    background-image: url('assets/img/about.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*MOVIL*/
@media (max-width: 575px) {
    /*HERO */
    .herointro {
        width: 100%;
        text-align: center;
    }

    .heroimg{
        width: 100%;
        order: 1;
        text-align: center;
    }

    .imgh{
        max-width: 100%;
        height: auto;
    }

    .imgAbout{
        flex: 0 0 59%;
        max-width: 59%;
    }

}